//Couleurs
$dark-color: #303030;
$trans-dark-color: #3030304d;
$lgray-color: #d3d3d3;
$main-color: rgb(227, 203, 168);
$main-color-bis: #edecea;
$creme-color: #f0f0db;
$white-color: white;



//Fonts
$font-raleway: "Raleway", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-playfair: "Playfair Display", sans-serif;

//Styles
$bold : 600;

.bold {
  font-weight: $bold;
}